 
.w-w{
        position: relative;
        padding: 60px 40px;
        background: var(--color-white);
        margin-bottom: 30px;
        text-align: center;
        border-radius: 10px;
        transition: all 0.6s ease-in-o;
}
.i-h6{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    display: block;
    line-height: 26px;
    margin-bottom: 8px;
    color: #0191BD;
}
.transparent-btn{
    background: transparent;
    color: #fff;
    border: 1px solid;
}
.btn-bg-theme{
    background:#0191BD;
    color: #fff;
}
.theme-btn-one {
    display: inline;
    padding: 1px 25px;
    border-radius: 10px 0 10px 0;
    line-height: 56px;
    min-height: 56px;
    min-width: 60px;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    margin-bottom: 2rem;
}
.btn-bg-theme:hover{
    background: white;
    color: #0191BD;
}
.about{
    line-height: 40px;
    font-weight: 700;
    color: #0191BD;
    font-size: 40px;
    padding: 0 0 10px 0;
    text-decoration: underline;
}
.content{
    font-weight: 700;
    color: black;
    font-size: 40px;
    padding: 0 0 10px 0;
}
.icon{
    height: 55px;
}
.desc{
    line-height: 40px;
    font-weight: 700;
    color: black;
    font-size: 20px;
    padding: 0 0 10px 0;
}
.desc1{
    line-height: 40px;
    font-weight: 700;
    color:white;
    font-size: 20px;
    padding: 0 0 10px 0;
    text-align: left;
}
.o-s-b{
        position: absolute;
        width: 150px;
        height: 50px;
        background: var(--primary-color-one);
        text-align: center;
        line-height: 50px;
        color: #fff;
        border-radius: 50px;
        left: 0;
        padding-top: 2px;
        right: 0;
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;
        margin: auto;
        font-family: var(--creote-family-one);
        bottom: -24px;
}
.p{
    font-size: 16px;
    line-height: 26px;
    font-family: var(--creote-family-two);
    font-weight: 400;
    margin-bottom: 15px;
    transition: 0.5s ease-in-out;
        color: var(--text-color-light);
        margin-bottom: 30px;
}
.f-w{
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 5px;
    background-color: #282F3B;
    
}
.b{
    color: #69727d;
    font: 16px;
}
.l-icon{
        font-size: var(--icon-size, 25px);
        line-height: var(--icon-size, 25px);
        width: calc(var(--icon-size, 25px) + 2* var(--icon-padding, .5em));
        height: calc(var(--icon-size, 25px) + 2* var(--icon-padding, .5em));
            --e-social-icon-icon-color: #fff;
            display: inline-flex;
            background-color: #0077b5;
            background-color: #69727d;
            align-items: center;
            justify-content: center;
            text-align: center;
            cursor: pointer;
}
.icon_bg_rotate {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.6s ease-in-out;
    text-align: center;
}
.j-o{
    background-color: #0191BD;
    padding: 30px 0 30px 0;
    position: relative;
    flex-wrap: wrap;
}
.c-f{
    padding: 15px 15px 15px ;
    align-content: center;
    align-items: center;
    margin: 0px 0px 0px 0px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}
.tabs{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}
.img-p{
    margin-left: 0px;
    padding: 255px 30px 50px;
    font: 16px;
    position: absolute;
    margin-left: 30%;
    margin: -30%;
}
.f-t{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 170px 0;
    position: relative;
}
.phone{
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    line-height: 50px;
    font-size: 20px;
    color: var(--primary-color-one);
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    margin-bottom: 5px;
}
.page_header{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--primary-color-two);
    opacity: .85;
    z-index: 1;
}
.t-w{
    width: 100%;
    text-align: justify;
}
.icon_box_all{
    text-align: center;
    background: #fff;
    padding: 40px 35px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}
.m-t{
    padding: 0rem;
    margin-top: -40rem;
}
.m-l{
    margin-left: 8rem;
}